.vs/portfolio/FileContentIndex/ade08c5b-ce3a-4b8d-af84-963b298aee1e.vsidx
.vs/portfolio/v17/DocumentLayout.backup.json
.vs/portfolio/FileContentIndex/ccf2ef64-6003-4cfe-ab29-4ffee9e99bcb.vsidx
.vs/portfolio/FileContentIndex/955daaca-028b-425e-95a2-db8d7db18050.vsidx
.vs/portfolio/FileContentIndex/c600da3e-dce3-4cb3-bd38-fa8e73ebfa13.vsidx
.vs/portfolio/FileContentIndex/c9d448c1-c2e3-4d07-b765-11153868f179.vsidx
.vs/portfolio/FileContentIndex/adf4a1ed-83ae-47aa-881b-861479fc1961.vsidx
/.vs/portfolio/FileContentIndex
