body{
    background-color: rgb(131, 131, 131);
}
/* Style for the dropdown menu */
select {
    position: absolute;
    top: 0.2vw; /* Adjust the top position as needed */
    left: 0.2vw; /* Adjust the right position as needed */
    font-size: 2vw; /* Set the desired font size */
    background-color: black;
    color: bisque;
    text-align: center;
    text-transform: uppercase; /* Convert text to uppercase */
}
h1{
    text-align: center;
    font-size: 2vw; /* Set the desired font size */
}