body{
    background-color: rgb(131, 131, 131);
}
/* Style for the dropdown menu */
select {
    position: absolute;
    top: 0.2vw; /* Adjust the top position as needed */
    left: 0.2vw; /* Adjust the right position as needed */
    font-size: 2vw; /* Set the desired font size */
    background-color: black;
    color: bisque;
    text-align: center;
    text-transform: uppercase; /* Convert text to uppercase */
}
h1{
    text-align: center;
    font-size: 2vw; /* Set the desired font size */
}
.slideshow-container {
    max-width: 75vw;
    max-height: 75vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#stretching-vr {
    width: 75vw;
    height: 10%;
    background: rgb(199, 149, 11);
    position: absolute;
    top:10%;
    left: 5%;
  }
  #book-suggester {
    width: 75vw;
    height: 10%;
    background: rgb(199, 149, 11);
    position: absolute;
    top:25%;
    left: 5%;
  }
  /* styles.css */

/* Style for the image */
.project-image-size {
    max-width: 50%; /* Set width to 10% */
    max-height: 100%; /* Let the height adjust automatically */
}
