body{
    background-color: rgb(131, 131, 131);
}
/* Add these styles to your existing styles.css file */
.header-background {
    background-color: rgb(60, 60, 60); /* Set the background color to white */
    padding: 10px; /* Add padding for spacing */
}

/* Style for the dropdown menu */
select {
    position: relative; /* Change position to relative */
    font-size: 2vw; /* Set the desired font size */
    background-color: black;
    color: bisque;
    text-align: center;
    text-transform: uppercase; /* Convert text to uppercase */
}

h1 {
    text-align: center;
    color:white;
    font-size: 2vw; /* Set the desired font size */
}
h2{
    font-size: 2vw; /* Set the desired font size */
    text-align: center;
    color:white;
}
h3 {
    text-align: center;
    color:white;
    font-size: 2vw; /* Set the desired font size */
    padding-top: 2vw;
    padding-bottom: 2vw;
}

/* Your existing styles for other elements */
.slideshow-container {
    max-width: 75vw;
    max-height: 75vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-info {
    width: 100%;
    height: 5%;
    background: rgb(60, 60, 60);
}
#stretching-vr {
    width: 100%;
    height: 10%;
    background: rgb(60, 60,60);
}

#book-suggester {
    width: 100%;
    height: 10%;
    background: rgb(60, 60, 60);
}
p{
    padding-left: 1vw;
  
    color: white;
    font-size: 1.5vw;
}
a{
 
    color: white;
    font-size: 1.5vw;
}
/* Other styles... */

  /* styles.css */

/* Style for the image */
.project-image-size {
    max-height: 10vw; /* Set the height to 20% of the container height */
    max-width: auto; /* Let the width adjust automatically */
    display: inline-block; /* Display images inline */
}
.wrapper {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

